@use 'styles/variables' as v;

.specsPage {
  &__Container {
    width: 50%;
  }

  &__Header {
    padding-bottom: v.$gap-md;
    margin-bottom: 25px;
    border-bottom: 1px solid v.$color-border-light;
  }
}

.specsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: v.$gap-sm;
  font-size: 14px;

  &__Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &Key {
      color: v.$color-gray;
    }
  }
}

@media (max-width: v.$bp-640) {
  .specsPage {
    &__Container {
      width: 100%;
    }
  }
}
