@use 'styles/variables' as v;

.shopByCategory {
  &__Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: v.$gap-lg;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__headerTitle {
    font-family: v.$font-semibold;
    font-size: clamp(18px, 5vw, 32px);
  }

  &__SectionText {
    width: 100%;
    gap: v.$gap-xs;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__SectionTitle {
    font-family: v.$font-semibold;
  }

  &__SectionParagraph {
    font-family: v.$font-base;
    color: v.$color-muted;
  }

  &__ImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 0;
    max-width: 33%;
    gap: v.$gap-lg;
    box-sizing: border-box;
    text-decoration: none;
    color: v.$color-primary;
  }

  &__Image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    transition: transform v.$transition-fast;

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.sectionsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: v.$gap-md;
}

@media (max-width: v.$bp-640) {
  .sectionsContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: v.$gap-md;
  }

  .shopByCategory {
    &__ImageContainer {
      max-width: 100%;
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: v.$gap-sm;
    }
  }
}
