@use 'styles/variables' as v;

.skeleton {
  &__Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: v.$gap-xl;
    max-width: 100%;
    min-width: 230px;
    height: 520px;
    overflow: hidden;
    border: 1px solid v.$color-border-light;
    background-color: v.$color-white;
  }

  &__Image {
    width: 100%;
    height: 200px;
    background: linear-gradient(
      90deg,
      v.$color-border-light 25%,
      v.$color-bg-hover-light 50%,
      v.$color-border-light 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: v.$radius-sm;
  }

  &__Title {
    margin-top: v.$gap-md;
    height: 48px;
    background: linear-gradient(
      90deg,
      v.$color-border-light 25%,
      v.$color-bg-hover-light 50%,
      v.$color-border-light 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: v.$radius-sm;
  }

  &__Price {
    margin-top: v.$gap-sm;
    width: 60%;
    height: 24px;
    background: linear-gradient(
      90deg,
      v.$color-border-light 25%,
      v.$color-bg-hover-light 50%,
      v.$color-border-light 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: v.$radius-sm;
  }

  &__Specs {
    display: flex;
    flex-direction: column;
    gap: v.$gap-sm;
    margin-top: v.$gap-sm;
  }

  &__SpecLine {
    height: 12px;
    background: linear-gradient(
      90deg,
      v.$color-border-light 25%,
      v.$color-bg-hover-light 50%,
      v.$color-border-light 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: v.$radius-sm;

    &:nth-child(2) {
      width: 80%;
    }

    &:nth-child(3) {
      width: 70%;
    }
  }

  &__Buttons {
    margin-top: v.$gap-md;
    display: flex;
    gap: v.$gap-sm;
  }

  &__Button {
    flex: 1;
    height: v.$height-btn;
    background: linear-gradient(
      90deg,
      v.$color-border-light 25%,
      v.$color-bg-hover-light 50%,
      v.$color-border-light 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: v.$radius-sm;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
